<% content_for(:title_tag) do %>
 Melomelo - Wish
<% end %>

<div class="header-basket"><br/><center><h1>My Whishes</h1></center>
</div>

<div class="box-basket">
  <% if @wishes.any? %>
    <div class="container">
      <div class="row">
        <% @wishes.each do |wish| %>
          <div class="col-sm-4 col-md-3 col-xs-12">
            <div class="box" data-toggle="modal" data-target="#preview-<%= wish.id %>">
              <div class="Title_wish"><center><h3>Wish</h3></center></div>
              <div class="description_wish">
                <% if wish.name.present? %>
                  <h5><i class="fa fa-check tick" aria-hidden="true"></i><%= wish.name %></h5>
                <% end %>
                <% if wish.brand.present? %>
                  <h5><i class="fa fa-check tick" aria-hidden="true"></i><%= wish.brand %></h5>
                <% end %>
                <% if wish.price.present? %>
                  <h5><i class="fa fa-check tick" aria-hidden="true"></i> $ <%= wish.price %></h5>
                <% end %>
                <% if wish.material.present? %>
                  <h5><i class="fa fa-check tick" aria-hidden="true"></i><%= wish.material %></h5>
                <% end %>
                <% if wish.color.present? %>
                  <h5><i class="fa fa-check tick" aria-hidden="true"></i><%= wish.color %></h5>
                <% end %>
                <% if wish.description.present? %>
                  <h5><i class="fa fa-check tick" aria-hidden="true"></i><%= wish.description %></h5>
                <% end %>
                <% if wish.gender.present? %>
                  <h5><i class="fa fa-check tick" aria-hidden="true"></i><%= wish.gender %></h5>
                <% end %>
                <%= link_to edit_wish_path(wish) do %>
                  <i class="fa fa-edit"> Edit</i>
                <% end %>
                <%= link_to wish_path(wish), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fa fa-trash"> Delete</i>
                <% end %>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  <% else %>
    <br/>
    <center><br/><h1>Your Wishlist is empty.</h1><br/>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <div class="box" >
          <div class="Title_wish"><center><h3>Create you first wish!</h3></center></div>
            <%= link_to new_wish_path, class: "new-wish-link" do %>
              <i class="fa fa-plus-circle" aria-hidden="true""></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>


