<div class="header-booking">
</div>

<div class="container">
  <div class="row">
    <% @basket.each do |basket| %>
      <div class="col-sm-4 col-md-3 col-xs-12">
        <div class="stage-bk-det">
          <div class="card-back">
              <div class="card-image" style="background-image: url('http://<%= basket.cloth.images_urls.first %>');">
                <%= link_to basket_path(basket), method: :delete, data: { confirm: 'Are you sure?' } do %>
                 <div class="delete"> <%= icon("trash") %></div>
                <% end %>
                <div class="price"> <%= basket.cloth.price %>$</p></div>
              </div>

            <div class="card-informations">
              <h3><%= basket.cloth.name %> - <%= basket.cloth.brand %> - <%= basket.cloth.sizes %></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium voluptas praesentium totam tempora earum magni rerum laboriosam mollitia debitis.</p>
            </div>
          </div>
        </div>

      </div>
    <% end %>

      <div class="col-sm-4 col-md-3 col-xs-12">
        <div class="stage-bk-det">
          <div class="card-back">
            <div class="card-image">
                <div class="crux">
                  <p><center><i class="fa fa-plus" aria-hidden="true"></i></center></p>
                </div>
            </div>
          </div>
        </div>
      </div>


  </div>
</div>

