<div class="header-booking">
</div>

<div class="container">
  <div class="row">
    <% @basket.each do |basket| %>
      <div class="col-sm-4 col-md-3 col-xs-12">
        <div class="stage-bk-det">
          <div class="card-back">
              <div class="card-image" style="background-image: url('<%= image_path 'example.jpg' %>');">
                  <div>
                    <h4><%= basket.cloth.price %>$</h4>
                    <p></p>
                  </div>
              </div>

            <div class="card-informations">
              <h3><%= basket.cloth.name %> - <%= basket.cloth.brand %> - <%= basket.cloth.size %></h3>
              <p><%= basket.cloth.description %></p>
            </div>
          </div>
        </div>
        <%= link_to basket_path(basket), method: :delete, data: { confirm: 'Are you sure?' } do %>
        <%= icon("trash") %> Delete
      </div>

      <% end %>
    <% end %>

      <div class="col-sm-4 col-md-3 col-xs-12">
        <div class="stage-bk-det">
          <div class="card-back">
              <div class="card-image">
                  <div>
                    <h4><center>Add item</center></h4>
                    <p><center><i class="fa fa-plus" aria-hidden="true"></i></center></p>
                  </div>
              </div>

            <div class="card-informations">
              <h1><center><i class="fa fa-plus-circle" aria-hidden="true"></i></center></h1>
              <p></p>
            </div>
          </div>
        </div>
      </div>


  </div>
</div>

