<div class="headermailer"><center> <h4><br/>You have a match !</h4></center></div>
<div class="box-mailer"><center>
<p><br/>Hi <%= @user.first_name%> <%= @user.last_name %>,</p>
<p> Good news ! You have a match !</p>
<p>You wanted a <b> <%= @wish.color %> <%= @wish.name %> in <%= @wish.material %>.</b> <%= @cloth.brand.capitalize %> made it for you.</p>
<% @cloth.images_urls.each do |url| %>
  Here is the product : <%= image_tag url, style:'height: 200px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); padding: 5px;margin: 5px;' %></p>
<% end %>

<p> <%= link_to 'Visit the website', @cloth.provider_url, class: 'btn-treehouse' %></p>
</center></div>
