<form class="form-inline" action="<%= clothes_path %>">
  <div class="form-group research">
    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
    <div class="input-group">
      <div class="input-group-addon" style="width: 50px;"><button type="submit" class="submit"><i class="fa fa-search loupe" aria-hidden="true"></i></button></div>
      <input type="text" name="name" class="form-control" id="exampleInputAmount" placeholder="Navy Blue Shirt">
    </div>
  </div>
</div>

<div class="filter-bar">
  <div class="croissant">
    <div class="btn-group">
      <button type="button" class="btn btn-default">Filter by</button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <input type="radio" id="price-asc" name="sort" value="asc" <%= "checked" if params[:price]== "ascending" %>>
          <label for="price-asc" action="<%= clothes_path %>" method="get">
          <i aria-hidden= "true" name="ascending"> Ascending</i>
          </label>
        </li>
        <li>
          <input type="radio" id="price-desc" name="sort" value="desc" <%= "checked" if params[:price] == "descending" %>>
          <label for="price-desc" action="<%= clothes_path %>" method="get">
          <i aria-hidden= "true" name="descending"> Descending</i>
          </label>
        </li>
      </ul>
    </div>
  </div>

  <div class="dollar">
    <div class="btn-group" role="group" aria-label="...">

      <input type="checkbox" id="price-low" name="price[]" value="low" <%= "checked" if params[:price]&.include? "low" %>>
      <label for="price-low" action="<%= clothes_path %>" method="get" type="button" class="btn btn-default radius-left">$0-50
      </label>

      <input type="checkbox" id="price-medium" name="price[]" value="middle" <%= "checked"if params[:price]&.include? "middle" %>>
      <label for="price-medium" type="button" class="btn btn-default">$50-150
      </label>

      <input type="checkbox" id="price-high" name="price[]" value="high" <%= "checked" if params[:price]&.include? "high" %>>
      <label for="price-high" type="button" class="btn btn-default" class="radius-right">$150 and over
      </label>

    </div>
  </div>

  <div class="gender">
    <div class="btn-group">
      <button type="button" class="btn btn-default">Gender</button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <input type="radio" id="gender-women" name="gender[]" value="women" <%= "checked" if params[:gender]&.include? "women" %> >
          <label for="gender-women" action="<%= clothes_path %>" method="get">
          <i aria-hidden= "true" name="black"> Women</i>
          </label>
        </li>
        <li>
          <input type="radio" id="gender-men" name="gender[]" value="men" <%= "checked" if params[:gender]&.include? "men" %> >
          <label for="gender-men" action="<%= clothes_path %>" method="get">
          <i aria-hidden= "true" name="black"> Men</i>
          </label>
        </li>
      </ul>
    </div>
  </div>

  <div class="colors">
    <div class="btn-group">
      <button type="button" class="btn btn-default">Color</button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <input type="checkbox" id="color-black" name="color[]" value="black" <%= "checked" if params[:color]&.include? "black" %>>
          <label for="color-black" action="<%= clothes_path %>" method="get">
          <i aria-hidden= "true" name="black">Black</i>
          </label>
        </li>
        <li>
          <input type="checkbox" id="color-blue" name="color[]" value="blue" <%= "checked" if params[:color]&.include? "blue" %>>
          <label for="color-blue" action="<%= clothes_path %>" method="get">
          <i aria-hidden= "true" name="blue">Blue</i>
          </label>
        </li>
        <li>
          <input type="checkbox" id="color-orange" name="color[]" value="orange" <%= "checked" if params[:color]&.include? "orange" %>>
          <label for="color-orange" action="<%= clothes_path %>" method="get">
          <i aria-hidden= "true" name="orange">Orange</i>
          </label>
        </li>
        <li>
          <input type="checkbox" id="color-pink" name="color[]" value="pink" <%= "checked" if params[:color]&.include? "pink" %>>
          <label for="color-pink" action="<%= clothes_path %>" method="get">
          <i aria-hidden= "true" name="pink">Pink</i>
          </label>
        </li>
        <li>
          <input type="checkbox" id="color-purple" name="color[]" value="purple" <%= "checked" if params[:color]&.include? "purple" %>>
          <label for="color-purple" action="<%= clothes_path %>" method="get">
          <i aria-hidden= "true" name="purple">Purple</i>
          </label>
        </li>
        <li>
          <input type="checkbox" id="color-red" name="color[]" value="red" <%= "checked" if params[:color]&.include? "red" %>>
          <label for="color-red" action="<%= clothes_path %>" method="get">
          <i aria-hidden= "true" name="red">Red</i>
          </label>
        </li>
        <li>
          <input type="checkbox" id="color-yellow" name="color[]" value="yellow" <%= "checked" if params[:color]&.include? "yellow" %>>
          <label for="color-yellow" action="<%= clothes_path %>" method="get">
          <i aria-hidden= "true" name="yellow">Yellow</i>
          </label>
        </li>
        <li>
          <input type="checkbox" id="color-white" name="color[]" value="white" <%= "checked" if params[:color]&.include? "white" %>>
          <label for="color-white" action="<%= clothes_path %>" method="get">
          <i aria-hidden= "true" name="white">White</i>
          </label>
        </li>
      </ul>
    </div>
  </div>


  <input  class = "bouton-sub" type="submit" value="Search">
</form>
