<div class="filters">
  <div class="container">
    <div class="alignement">
      <%= render "filters-bar" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="row cadre">
      <% if @clothes.any? %>
          <% @clothes.each do |cloth| %>
          <div class="col-sm-6">
            <div class="stage-bk-det" data-toggle="modal" data-target="#preview-<%= cloth.id %>">
              <div class="card-back">
                  <div class="card-image" style="background-image: url('http://<%= cloth.images_urls.first %>');">

                  <%= link_to clothe_baskets_path(cloth), method: :post, data: {
                    confirm: 'Add to cart?',
                    'confirm-button-text': 'Add',
                    'cancel-button-text': 'Never',
                    'confirm-button-color': '#FF9900',
                    'sweet-alert-type': 'question',
                    'sweet-alert-color': '#FF9900',
                    text: cloth.name
                    }, remote: true do %>
                  <div class="delete"><%= icon("heart")%></div>
                  <% end %>

                    <div class="price"> <%= cloth.price %>$</div>
                  </div>

                <div class="card-informations">
                  <h3><%= cloth.name %> - <%= cloth.brand %> - <%= cloth.sizes %></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium voluptas praesentium totam tempora earum magni rerum laboriosam mollitia debitis.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="preview-<%= cloth.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="container">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="sp-wrap">
                            <% cloth.images_urls.each do |image|%>
                              <%= link_to "http://#{image}" do %>
                                <%= image_tag "http://#{image}" %>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <p><strong>Name: </strong><%= cloth.name %></p>
                          <p><strong>Brand: </strong><%= cloth.brand %></p>
                          <p><strong>Price: </strong><%= cloth.price %></p>
                          <p><strong>Size: </strong><%= cloth.sizes.join(", ") %></p>
                          <p><strong>Price: </strong><%= cloth.price %></p>
                          <p><strong>Colors: </strong><%= cloth.color %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <%= link_to clothe_baskets_path(cloth), method: :post, data: {
                    confirm: 'Add to cart?',
                    'confirm-button-text': 'Add',
                    'cancel-button-text': 'Never',
                    'confirm-button-color': '#FF9900',
                    'sweet-alert-type': 'question',
                    'sweet-alert-color': '#FF9900',
                    text: cloth.name
                    }, remote: true do %>
                    <div class="btn-orange"> Add to Cart </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
        <% else %>
        <div class="col-xs-12 col-sm-12">
          <div class="no-result">
            <div class='image_no_result'> <%= image_tag "logo.png" %> </div>
            <p>No results found ! <br> Would you like create a Wish ?</p>
            <%= link_to "Create a Wish", new_wish_path(price: params[:price], colors: params[:color], gender: params[:gender], name: params[:name]), class: "btn-orange" %>
          </div>
        </div>
      <% end %>

      </div>
      <div class="page"><center><%= paginate @clothes %></center></div>
    </div>

    <div class="col-xs-12 col-sm-4 sticky-board">
      <div class ="selection">
        <div class="your-board" id="title-box">
          <div class="row">
            <p class="basket-content">Your Selection</p>
            <% @baskets.each do |basket| %>
              <%= render 'side_card', basket: basket %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
