<div class="filters">
  <div class="container">
    <div class="alignement">
      <form class="form-inline" action="<%= clothes_path %>">
        <div class="form-group">
          <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
          <div class="input-group">
            <div class="input-group-addon" style="width: 50px;"><button type="submit" class="submit"><i class="fa fa-search loupe" aria-hidden="true"></i></button></div>
            <input type="text" class="form-control" id="exampleInputAmount" placeholder="Navy Blue Shirt">
          </div>
        </div>
      </div>

      <div class="filter-bar">
        <div class="croissant">
          <div class="btn-group">
            <button type="button" class="btn btn-default">Filter</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Ascending order</a></li>
              <li><a href="#">Descending order</a></li>
            </ul>
          </div>
        </div>

        <div class="dollar">
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default radius-left"><i class="fa fa-usd" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-default"><i class="fa fa-usd" aria-hidden="true"></i><i class="fa fa-usd" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-default" class="radius-right"><i class="fa fa-usd" aria-hidden="true"></i><i class="fa fa-usd" aria-hidden="true"></i><i class="fa fa-usd" aria-hidden="true"></i></button>
          </div>
        </div>

        <div class="sizes">
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" class= "radius-left">S</button>
            <button type="button" class="btn btn-default">M</button>
            <button type="button" class="btn btn-default" class= "radius-left">L</button>
          </div>
        </div>

        <div class="colors">
          <div class="btn-group">
            <button type="button" class="btn btn-default">Color</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Black</a></li>
              <li><a href="#">Blue</a></li>
              <li><a href="#">Orange</a></li>
              <li><a href="#">Pink</a></li>
              <li><a href="#">Purple</a></li>
              <li><a href="#">Red</a></li>
              <li><a href="#">Yellow</a></li>
              <li><a href="#">White</a></li>
            </ul>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="row cadre">
        <% @clothes.each do |cloth| %>
          <div class="col-sm-6">
            <div class="stage-bk-det">
              <div class="card-back">
                  <div class="card-image" style="background-image: url('http://<%= cloth.images_urls.first %>');">
                  <%= link_to clothe_baskets_path(cloth), method: :post, data: {confirm: 'Add to basket?'} do %>
                  <div class="delete"><%= icon("heart")%></div>
                  <% end %>
                    <div class="price"> <%= cloth.price %>$</div>
                  </div>

                <div class="card-informations">
                  <h3><%= cloth.name %> - <%= cloth.brand %> - <%= cloth.sizes %></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium voluptas praesentium totam tempora earum magni rerum laboriosam mollitia debitis.</p>
                </div>
              </div>
            </div>
            # <%= link_to clothe_baskets_path(cloth), method: :post,  data: { confirm: 'Are you sure?' } do %>
                 <div> <%= icon("add") %>test</div>
                <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class ="selection">
        <div class="your-board" id="title-box">
          <div class="row">
            <p>Your Selection</p>

            <% @clothes.sample(7).each do |cloth| %>
              <div class="col-xs-12">
                <div class="stage-bk-det-board">
                  <div class="card-back-board">
                    <div class="card-image-board" style="background-image: url('http://<%= cloth.images_urls.first %>');">
                    </div>

                    <div class="card-informations-board">
                      <h6><%= cloth.name %> <br/> <%= cloth.brand %> <br/> <%= cloth.price %>$</h6>
                    </div>
                  </div>
                </div>
              </div>

            <div class="card-informations">
              <h3><%= basket.cloth.name %> - <%= basket.cloth.brand %> - <%= basket.cloth.sizes %></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium voluptas praesentium totam tempora earum magni rerum laboriosam mollitia debitis.</p>
            </div>
          </div>
        </div>

      </div>
    <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




