<!DOCTYPE html>
<html>
  <head>
  <%= favicon_link_tag 'logo.png' %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <META NAME="Melo Melo: the perfect garment is one search away." CONTENT="The time where you had ten thousand open taps to shop one item is over.">
    <meta property="og:image" content="<%= images_urls "logo.png" %>" />

    <title> <%= yield(:title_tag).blank? ? "Melomelo" : yield(:title_tag) %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body class="<%= params[:controller] %> <%= params[:action] %>">
    <div class="content">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
